$dark-red: #bc1f36;
$light-red: #bc1f36 *0.4;
$extreme-red: #900C3F;
$border-red: #D50C5A;
$white: #FFFFFF;
$gray: #898989;


$phone: "screen and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

